// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;


$black: #000000;
$dark-gray: #4e4e4e;
$gray: #8e8e8e;
$light-gray: #dfdfdf;
$white: #FFFFFF;
