@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

$body-font: "Raleway", "Helvetica", "sans-serif";
$headers-font: "Source Sans 3", "Helvetica", "sans-serif";
$title-font: "Montserrat", "Helvetica", "sans-serif";

$large: 125px;
$medium: 36px;
$small: 24px;

@media (max-width: 768px) {
  $large: 100px;
  $medium: 24px;
  $small: 18px;
}
