// Specific CSS for your home-page
.logo {
  width: 150px;
  height: 150px;
  margin: 12px;
  margin-top: 136px;
}

.move-logo {
  display: flex;
  width: 230px;
  justify-content: space-between;
  position: relative;
  top: 125px;
  left: 23px;
}

.thebest-logo {
  position: absolute;
}

.logo-and-name {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding-right: 300px;
}
