<div class="container">

  <div class="row car-navbar">
    <div class="col-2">
      <p>Location</p>
    </div>
    <div class="col-2">
      <p>Accesibility</p>
    </div>
    <div class="col-2">
      <p>Items</p>
    </div>
    <div class="col-2 active">
      <p>Date and Time</p>
    </div>
    <div class="col-2">
      <p>Quote</p>
    </div>
    <div class="col-2">
      <p>Booking</p>
    </div>
  </div>
  <%# loop into each 30 min %>
   <%# is there a booking yes? %>
    <%# calculate total duration of the current booking with the found one %>
      <%# calculate total with location, accesibility, items %>
    <%# calculate total price of the current booking with the found one%>
    <%# check if the current booking duration has enough time %>
      <%# if so save it into available bookings %>
   <%# if not %>
    <%# calculate total duration of the current booking %>
     <%# calculate total with location, accesibility, items %>
    <%# calculate total price of the current booking%>
     <%# check if the current booking duration has enough time %>
      <%# if so save it into available bookings %>
  <%# end %>
  <%# show the available bookings %>
m
</div>
