<div class="container">

  <div class="row car-navbar">
    <div class="col-2">
      <p>Location</p>
    </div>
    <div class="col-2">
      <p>Accesibility</p>
    </div>
    <div class="col-2">
      <p>Items</p>
    </div>
    <div class="col-2 active">
      <p>Date and Time</p>
    </div>
    <div class="col-2">
      <p>Quote</p>
    </div>
    <div class="col-2">
      <p>Booking</p>
    </div>
  </div>

  <div class="row">
   <% @slots.each do |day| %>
    <div class="col-2 my-5">
      <h3 class="w-auto m-0"> <%= day[0][0].strftime('%A') %></h3>
      <p class="w-auto"> <%= day[0][0].strftime('%d %b') %></p>
      <% day.each do |slot| %>
        <div class="times border rounded slot p-3 my-3 ">
          <div class=" d-flex">
            <p class="m-0"><%= slot[0].strftime('%H:%M') %> - </p>
            <p class="m-0"><%= slot[1].strftime('%H:%M') %></p>
          </div>
          <p>Driver: Juan Bernal</p>
          <h3 class="text-center">$352</h3>
        </div>
      <% end %>
    </div>
   <% end %>
  </div>
</div>
