<div class="container">

  <div class="row car-navbar">
    <div class="col-2 active">
      <p>Location</p>
    </div>
    <div class="col-2">
      <p>Accesibility</p>
    </div>
    <div class="col-2">
      <p>Items</p>
    </div>
    <div class="col-2">
      <p>Date and Time</p>
    </div>
    <div class="col-2">
      <p>Quote</p>
    </div>
    <div class="col-2">
      <p>Booking</p>
    </div>
  </div>
