<h1>Pages#home</h1>
<p class="minimalist-input">Enter your name</p>
<p class='minimalist-button'>button</p>
<p class='item-button'>couch</p>

<div class="service-card">
  <p>7am - 9pm</p>
  <p>$310</p>

</div>
