<div class="container-home">
  <div class="logo-and-name">
    <%= image_tag 'The Best Move logo.png',
      alt: "The best move logo",
      class: 'logo' %>
    <div class="title-logo">
      <h1 class='thebest-logo'>TheBest</h1>
      <div class="move-logo">
        <h2>M</h2>
        <h2>O</h2>
        <h2>V</h2>
        <h2>E</h2>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <%= link_to 'Get a quote', new_location_booking_index_path, class: 'link'%>
</div>
