<div class="container text-center mh-100">
  <div class="d-flex justify-content-evenly align-items-center vh-100">
    <div class="detailed-quote d-flex flex-column">
      <i class="fa-solid fa-truck-fast fa-2xl my-5"></i>
      <%= link_to 'Get a more precise quote', new_location_booking_index_path, class: 'link'%>
    </div>
    <div class="quick-quote d-flex flex-column">
      <i class="fa-solid fa-clipboard fa-2xl my-5"></i>
      <%= link_to 'Get a quick quote', new_location_booking_index_path, class: 'link'%>
    </div>
  </div>
</div>
