<div class="container">

  <div class="row car-navbar">
    <div class="col-2">
      <p>Location</p>
    </div>
    <div class="col-2">
      <p>Accesibility</p>
    </div>
    <div class="col-2 active">
      <p>Items</p>
    </div>
    <div class="col-2">
      <p>Date and Time</p>
    </div>
    <div class="col-2">
      <p>Quote</p>
    </div>
    <div class="col-2">
      <p>Booking</p>
    </div>
  </div>

 <div class="item-cards">
    <% @items.each do |item| %>
      <div class="item-card d-flex justify-content-center">
        <p class="item-button"> <%= item.name %></p>
      </div>
    <% end %>
 </div>
 <div class="booki">
  <%= form_with(model: @location, url: items_booking_index_path, class: 'd-flex justify-content-center', method: 'get') do |f| %>
    <%= f.text_field :search_input, value: params[:search_input], class: 'minimalist-input', placeholder: 'couch'%>
    <%= f.submit  value: 'Search', class: 'minimalist-button w-10 mx-3'%>
  <% end %>
</div>
</div>
