.minimalist-button-active {
  border: 2px solid #005b82 !important; // Add !important to ensure higher specificity
  color: black;
}


.minimalist-input {
  border-radius: 5px;
  border: 2px solid $light-gray;
  padding: 12px;
  color: $gray;
  font-weight: bold;
  width: max-content;
  transition: 0.3s;

  &:hover {
    border: 2px solid #005b82;
    color: black;
  }
}


.minimalist-button {
  border-radius: 5px;
  padding: 12px;
  color: $white;
  width: max-content;
  transition: 0.3s;
  background-color: #0086c0;
  border: none;
  &:hover {
    background-color: #005b82;
  }
}

.item-button {
  border-radius: 5px;
  padding: 12px;
  width: max-content;
  transition: 0.3s;
  border: 2px solid $light-gray;
  &:hover {
    border: 2px solid #005b82;
  }
}
.link {
  text-decoration: none;
  font-weight: bold;
  color: black
}
